.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/intro-bg.jpg) no-repeat center top;
  background-color: $yellow-dark;
  background-size: cover;
}

.section-title.center {
  padding: 25px 0 45px 0;
}

/* About Section */
#about {
  padding: 100px 0;
  background: #f6f6f6;
  .about-text {
    margin-left: 10px;
  }
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
  }
  p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}